.textBox {
    width: 55px;
    height: 35px;
    text-align: center;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(173, 173, 173, 0.464));
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.textBox:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
